name: Java CI

on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # test against LTS java versions:
        java: [ 8, 11 ]
    name: Test with Java ${{ matrix.java }}
    steps:
    - uses: actions/checkout@v2.0.0
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1.3.0
      with:
        java-version: ${{ matrix.java }}
    - name: Build with Maven
      run: mvn -B verify --file pom.xml
  release:
    needs: [build_and_test]
    if: github.ref == 'refs/heads/develop' || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    name: Release package
    steps:
    - uses: actions/checkout@v2.0.0
    - name: Set up JDK
      uses: actions/setup-java@v1.3.0
      with:
        java-version: 8
    - name: Release Maven package
      uses: samuelmeuli/action-maven-publish@82d218a8bc9cacee5493e3604d651ab3ca74b506 #v1.0.0
      with:
        gpg_private_key: ${{ secrets.gpg_private_key }}
        gpg_passphrase: ${{ secrets.gpg_passphrase }}
        nexus_username: ${{ secrets.nexus_username }}
        nexus_password: ${{ secrets.nexus_password }}
        maven_args: -DskipTests
    - name: Publish site
      run: mvn clean site -Dgithub.site.password=${{ secrets.github_site_password }} -Dgithub.site.userName=${{ secrets.github_site_username }}
